
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto [nav] auto [content] auto [informations] auto [options] auto [footer] auto;
    margin: 0;
    min-height: 100vh;
  }
  
  header {
    grid-column: 1;
    grid-row: 1 / nav;
  }
  
  #main {
    grid-column: 1;
    grid-row: nav / content;
  }
  
  #content,
  img {
    grid-column: 1;
    grid-row: content / informations;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  #informations {
    grid-row: informations / options;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  
  #options{
    grid-row: options / footer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
  }
  
  #main ul,
  #sub-menu ul {
    display: flex;
    flex-direction: row;
  }
  
  #sub-menu ul {
    align-items: center;
  }
  
  #main li {
    display: inline;
    flex: 1;
  }
  
  #login, #registration, #legal_info, #contacts, #map {
    grid-column: 1;
    grid-row: content / informations;
    position: relative;
  }
  
  #map {
    grid-column: 1 / span 2;
  }
  
  .list {
    grid-column: 1;
    grid-row: content / footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  #title,
  #map {
    grid-column: 1;
    grid-row: content / informations;
  }
  
  #contacts-details {
    grid-column: 1;
    grid-row: information / options;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    position: relative;
  }

  #legal_info_services {
    grid-column: 1;
    grid-row: informations / footer;
    position: relative;
  }

  #footer {
    grid-row: footer / end;
    position: bottom;
  }

  
  
  