
body {
    display: grid;
    grid-template-columns: [start] auto [col1] auto [col2] auto [col3] auto [end];
    grid-template-rows: [start] auto [nav] auto [content] auto [informations] auto [options] auto [footer] auto [end];
    margin: 0;
}

header{
    grid-column: start / end;
    grid-row: start / nav;
}

form {
    grid-column: col1 / col2;
    grid-row: nav / content;
}

#main {
    grid-column: start / end;
    grid-row: nav / content;
}

#content {
    grid-column: start / end;
    grid-row: content / informations;
}

img {
    width: 50%;
    height: auto;
    grid-column: start / end;
}

#informations {
    grid-column: start / end;
    grid-row: informations/ options;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#options {
    grid-column: start / end;
    grid-row: options / footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer {
    grid-column: start / end;
    grid-row: footer / end;
}

#main ul {
    display: flex;
    flex-direction: row;
}

#sub-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ajusta o alinhamento para o centro */
    text-align: center;
}

#main li {
    display: inline;
    flex: 1;
}

#login { 
    grid-column: col1 / col3;
    grid-row: content / informations;
   
}

#registration {
    grid-column: start / end;
    grid-row: content / informations;
}
