* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header layout*/

header {
  width: 100%;
  height: auto;
  background-color: #f6f8fa;
  text-align: center; 
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 30px;
  color: #3a70a7;

}

#cart img,#favorites img,#user img {
  width: 30px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
  vertical-align: middle;
}

/*nav bar and submenu layout*/

#main {
  font-family: 'Arial', sans-serif;
}

#nav {
 width: 100%;
 min-height: 30px;
 background-color: #3a70a7;
 text-align: center;
 line-height: 30px; 
 margin: bottom 10px; 
}


#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

#nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

#nav a:hover {
  color: #b7d3ea;
}

#nav li:hover #sub-menu {
  display: block;
  text-align: center;
}

#sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  left: 35%; 
}

#sub-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#sub-menu li {
  margin: 0;
  text-align: center;
}

#sub-menu a {
  display: block;
  padding: 10px;
  color: #3a70a7;
  text-decoration: none;
  text-align: center;
}

#sub-menu a:hover {
  color: #82add8;;
}

#sub-menu li:hover {
  margin: 0;
  color: #777;
}

/*home layout*/

#content {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

#promo img {
  width: 100%; 
  margin-top: 3px;
  margin-bottom: 10px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list article {
  width: 40%; 
  margin-bottom: 20px;
  box-sizing: border-box;
}

.list a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #13446c;
  text-decoration: none;
}

.list img {
  display: block; 
  width: 80%; 
  margin: 0 auto;
  margin-top: 10px;
}


#informations {
font-family: 'Arial', sans-serif;
font-size: 10px;
background-color:  #ffffff;
width: 100%;
min-height: 20px;
text-align: center;
line-height: 20px; 
}

#informations h2 {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#left1, #center1, #center2, #right1 {
  width: 100%;
  min-height: 10px;
  text-align: center;
  line-height: 10px; 
  padding: 10px;
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #3a70a7;
  border: 10px solid #ffffff;
}

#left1 img {
  width: 50px;
  height: auto;
  margin-bottom: 1px;
}

#center1 img {
  width: 50px;
  height: auto;
  margin-bottom: 1px;
}

#center2 img {
  width: 35px;
  height: auto;
  margin-bottom: 1px;
  margin-bottom: 12px;
  margin-top: 3px;
}

#right1 img {
  width: 35px;
  height: auto;
  margin-bottom: 12px;
  margin-top: 3px;
}

#options {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  width: 100%;
  min-height: 20px;
  background-color: #ffffff;;
  text-align: center;
  line-height: 20px; 
  padding: 10px;
  margin-bottom: 20px;
  
}

#options h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#options a, #options p {
  text-decoration: none;
  color: #13446c;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#left, #center, #right {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*products layout*/

#products {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
}

article {
  border: 1px solid #ddd;
  padding: 3px;
  width: 48%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

article h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

article .price {
  color: #333;
}

article a {
  text-decoration: none;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  background-color: #3a70a7;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #8bc6f6;
}

/*product details layout*/

#product-details {
  width: 50%; 
  margin: 20px auto;
  padding: 15px; 
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#product-details h2 {
  color: #3a70a7;
}

#product-details img {
  width: 50%; 
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px; 
}

#product-details p {
  text-align: justify;
  margin-bottom: 10px; 
}

#product-details button {
  background-color: #3a70a7;
  color: #fff;
  padding: 8px 16px; 
  border: none;
  cursor: pointer;
  margin-top: 15px; 
}

#product-details button:hover {
  background-color: #8bc6f6;
}


/*login and registration layout*/

#login {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  margin-top:13em;
  margin-bottom:13em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

#login form {
  margin-top: 20px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8bc6f6;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3a70a7;
}

#registration {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  margin-top:6em;
  margin-bottom:6em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registration form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #8bc6f6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3a70a7;
}

button {
  background-color: #3a70a7;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #8bc6f6;
}

/*contacts layout*/

#contacts {
  font-family: 'Arial', sans-serif;
  color: #333;
  width: 80% ;
  margin: 0 auto;
  padding: 20px;
}

#map img {
  display: block; 
  margin: 0 auto;
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

#title {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#address, #phone-email, #service-hours, #contact-form {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title h2 {
  color: #3a70a7; 
}

h3 {
  color: #3a70a7;
}

p {
  text-align: justify;
  margin-bottom: 15px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #3a70a7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8bc6f6;
}


/*legal info layout*/

#legal_info {
  font-family: 'Arial', sans-serif;
  color: #3a70a7;
  margin-top:20px ;
  text-align: center;
}

#legal_info_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 10px;
  text-align: center;
  line-height: 10px; 
  padding: 10px;
}

#legal_info_services div {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: #ddd 0 0 10px;
}

#legal_info_services h3 {
  color: #3a70a7;
  margin-top: 10px; 
}

p {
  line-height: 2; 
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: justify;
}

#legal_info_services img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#first img {
  width: 100px;
  height: auto;
}

#second img {
  width: 100px;
  height: auto;
}

#third img {
  width: 100px;
  height: auto;
}

#fourth img {
  width: 100px;
  height: auto;
}

#fifth img {
  width: 100px;
  height: auto;
}

#sixth img {
  width: 100px;
  height: auto;
}

/*about us layout*/

#principal, #our_history, #our_mission, #our_vision, #our_values, #our_values {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#principal h2
{
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3a70a7;
}

h3 {
  color: #3a70a7;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #777;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

/*customer support layout*/

#customer-support {
  font-family: 'Arial', sans-serif;
  color: #333;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

 #title_costumer_support, #exchanges_and_returns, #quality, #payment, #more_info {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title_costumer_support h2 {
  color: #3a70a7;
}

h3 {
  color: #3a70a7; ; 
}

p {
  text-align: justify;
  margin-bottom: 15px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #3a70a7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8bc6f6;
}

button {
  background-color: #3a70a7;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color:  #8bc6f6;
}

/*shopping cart layout*/

#shopping-cart {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#shopping-cart h2 {
  color: #3a70a7;
}

#shopping-cart table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#shopping-cart th,
#shopping-cart td {
  padding: 10px;
  text-align: center;
}

#shopping-cart a {
  color: #3a70a7;
  text-decoration: none;
}

#shopping-cart a:hover {
  text-decoration: underline;
}

#shopping-cart img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

#shopping-cart button {
  background-color: #3a70a7;
  color: #fff;
  border: none;
  
  display: block;
  margin: 0 auto;
}

/*checkout layout*/

#checkout {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#checkout h2 {
  color: #3a70a7;
}

#cart-table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#cart-table th,
#cart-table td {
  padding: 10px;
  text-align: center;
}

#checkout a {
  color: #3a70a7;
  text-decoration: none;
}

#checkout a:hover {
  text-decoration: underline;
}

#checkout img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

#checkout button {
  background-color: #3a70a7;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/*favourites layout*/

#favorites {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

#favorites h2 {
  color: #3a70a7;
}

#favorites .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

#favorites article {
  width: 30%;
  margin-bottom: 20px;
}

#favorites article a {
  text-decoration: none;
  color: #000;
}

#favorites article h3 {
  margin-top: 0;
}

#favorites article img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}


#favorites article .price {
  display: block;
  margin-top: 10px;
  color: #3a70a7;
}


/*user page layout*/

#menu {
  width: 100%;
  min-height: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  margin-top: 40px;
}

#menu a {
  text-decoration: none;
  color: #3a70a7;
  font-weight: bold;
  font-size: 16px;
}

#menu a:hover {
  color: #82add8;
}

#user_profile {
  width: 100%;
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-section {
  margin-top: 5px;
  margin-right: 20px; 
  margin-left: 20px; 
  text-align: center;
}

#orders {
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}

th, td {
  border: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  text-align: center; 
  margin-left: 10px;
  margin-right: 10px;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3a70a7;
  font-weight: bold;
}

a:hover {
  color: #82add8;
}

#repairs {
  width: 80;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

#repairs  {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
  text-align: left;
  width: 100%; /* Set the width to 100% */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  background-color: #3a70a7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #8bc6f6;
}

/*footer layout*/

#footer {
  width: 100%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3a70a7;
  text-align: center;
  height: 45px;
}

/* repairs.css */

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#header-nav {
  background-color: #3a70a7;
  color: #fff;
  padding: 10px 0;
}

#orders {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#orders h2 {
  color: #3a70a7;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

a:hover {
  color: #2980b9;
}

#user-pages,
#footer {
  margin-top: 20px;
  background-color: #3a70a7;
  color: #fff;
  padding: 10px 0;
}

/* order_details.css */

body {
font-family: 'Arial', sans-serif;
color: #333;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}

.container {
width: 80%;
margin: 0 auto;
}

#header-nav {
background-color: #3a70a7;
color: #fff;
padding: 10px 0;
}

section {
margin-top: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
margin: 0 auto;
}

section h2 {
color: #3a70a7;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

th, td {
padding: 10px;
text-align: left;
}

img {
max-width: 100px;
height: auto;
}

form {
display: inline;
}

button {
background-color: #3a70a7;
color: #fff;
padding: 5px 10px;
border: none;
cursor: pointer;
}

button:hover {
background-color: #8bc6f6;
}

/* repairs.css */

body {
font-family: 'Arial', sans-serif;
color: #333;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}

.container {
width: 80%;
margin: 0 auto;
}

#header-nav {
background-color: #3a70a7;
color: #fff;
padding: 10px 0;
}

#repairs {
margin-top: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
margin: 0 auto;
}

#repairs h2 {
color: #3a70a7;
}

#repairs table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

#repairs th, #repairs td {
border: 10px solid #ddd;
padding: 10px;
text-align: left;
}

#repairs th {
background-color: #f2f2f2;
}

#repairs tr:hover {
background-color: #f5f5f5;
}

#create-repair-form {
margin-top: 20px;
}

#create-repair-form h3 {
  color: #3a70a7;
  margin-bottom: 10px; /* Adiciona espaço na parte inferior do título */
}

#create-repair-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

#create-repair-form label {
font-weight: bold;
}

#create-repair-form input,
#create-repair-form select {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
}

#create-repair-form button {
background-color: #3a70a7;
color: #fff;
padding: 10px 20px;
border: none;
cursor: pointer;
}

#create-repair-form button:hover {
background-color: #8bc6f6;
}

.return-button {
display: inline-block;
background-color: #3a70a7;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
margin-top: 20px;
}

.return-button:hover {
background-color: #8bc6f6;
}

/* return.css */

#returns {
margin-top: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
margin: 0 auto;
}

#returns h2 {
color: #3a70a7;
}

#returns table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

#returns th, #returns td {
border: 1px solid #ddd;
padding: 10px;
text-align: left;
}

#returns th {
background-color: #f2f2f2;
}

#returns tr:hover {
background-color: #f5f5f5;
}

.return-button {
display: inline-block;
background-color: #3a70a7;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
margin-top: 20px;
}

.return-button:hover {
background-color: #8bc6f6;
}

/* user.css */

body {
font-family: 'Arial', sans-serif;
color: #333;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}

.container {
width: 80%;
margin: 0 auto;
}

#header-nav {
background-color: #3a70a7;
color: #fff;
padding: 10px 0;
}

#user_profile {
margin-top: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
text-align: center;
}

#user_profile h2 {
color: #3a70a7;
}

#user_profile p {
margin-bottom: 15px;
}

#user_profile img {
width: 100px; /* Ajuste o tamanho conforme necessário */
border-radius: 50%; /* Adiciona cantos arredondados para uma aparência mais suave */
margin-bottom: 15px;
}

#user_profile p:last-child {
margin-bottom: 0;
}

#user-pages,
#footer {
margin-top: 20px;
background-color: #3a70a7;
color: #fff;
padding: 10px 0;
}